 /*css custom properties*/

 :root {
            --ocean-color: #404BBF;
            --iris-color: #4D5AE5;
            --navy-blue-color: #2E2F42;
            --green-color: #31D0AA;
            --slate-color: #434455;
            --light-slate-color: #8E8F99;
            --cornflower-color: #E7E9FC;
            --cloud-color: #F4F4FD;
            --navy-blue-modal-color: #2E2F42;
            --grey-color: #2e2f42;
            --white-color: #FFFFFF;
            --dairy-color: #FCFCFC;
        }


body {
    font-family: "Roboto", sans-serif;
    color: var(--slate-color);
    background: var(--white-color);
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto; 
}


.header-logo {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;

.link {
    text-decoration: none;
}

.accent {
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}


           
}
.header-list {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.list {
    list-style: none;
}


.header-link {
    color: var(--navy-blue-modal-color);
}
.link {
    color: var(--navy-blue-modal-color);
}





.header-mail-link {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #434455;   
}
.header-tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.link {
    text-decoration: none;
}

.section-one-title {
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.section-one-btn {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}

.section-two-benefits {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.section-two-paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-three-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.section-four-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.section-four-benefits {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.section-four-paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-footer-paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.page-btns-btn1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}

.page-btns-btn {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #4D5AE5;
}

.img-section-title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.img-section-paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}