 :root {
     --ocean-color: #404BBF;
     --iris-color: #4D5AE5;
     --navy-blue-color: #2E2F42;
     --green-color: #31D0AA;
     --slate-color: #434455;
     --light-slate-color: #8E8F99;
     --cornflower-color: #E7E9FC;
     --cloud-color: #F4F4FD;
     --navy-blue-modal-color: #2E2F42;
     --grey-color: #2e2f42;
     --white-color: #FFFFFF;
     --dairy-color: #FCFCFC;
 }
 
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background: var(--white-color);
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}

 .header-logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris-color);
 }
.header-logo .accent {
    color: var(--navy-blue-color);
 }

 .header-item .link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--navy-blue-color);

 }
 .header-item .link:hover,
 .header-item .link:focus {
    color: #404BBF;
 }

 .header-item .link:active {
     color: var(--ocean-color);
 }
 
 .header-address {
        font-style: normal;
 }

 .header-address-item .link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--slate-color);
 }
.header-address-item .link:hover,
.header-address-item .link:focus {
    color: #404bbf;
}
.section-one {
    background-color: var(--navy-blue-color);
}

.section-one-title {
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--white-color);
}

.section-one-btn {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--white-color);
        background-color: var(--iris-color);
}
.section-one-btn:hover,
.section-one-btn:focus {
    background-color: var(--ocean-color);
    cursor: pointer;
}

.section-two-benefits {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);
}

.section-two-paragraph {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-color);
}